[submodule "sources/all"]
        path = sources/all
        url = git@github.com:AndyLavr/all.git
        branch = master
        ignore = all
[submodule "sources/arm"]
        path = sources/arm
        url = git@github.com:AndyLavr/arm.git
        branch = master
        ignore = all
